In [27]:
import pandas as pd
import numpy as np

In [28]:
weather = pd.read_csv('./data/weather.csv')
weather.head(1)

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,,0,M,0.0,0.00,29.10,29.82,1.7,27,9.2

In [29]:
#weather shape
weather.shape

(2944, 22)

In [30]:
#null values
weather.isnull().sum()

Station        0
Date           0
Tmax           0
Tmin           0
Tavg           0
Depart         0
DewPoint       0
WetBulb        0
Heat           0
Cool           0
Sunrise        0
Sunset         0
CodeSum        0
Depth          0
Water1         0
SnowFall       0
PrecipTotal    0
StnPressure    0
SeaLevel       0
ResultSpeed    0
ResultDir      0
AvgSpeed       0
dtype: int64

In [31]:
#info and column types
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2944 entries, 0 to 2943
Data columns (total 22 columns):
Station        2944 non-null int64
Date           2944 non-null object
Tmax           2944 non-null int64
Tmin           2944 non-null int64
Tavg           2944 non-null object
Depart         2944 non-null object
DewPoint       2944 non-null int64
WetBulb        2944 non-null object
Heat           2944 non-null object
Cool           2944 non-null object
Sunrise        2944 non-null object
Sunset         2944 non-null object
CodeSum        2944 non-null object
Depth          2944 non-null object
Water1         2944 non-null object
SnowFall       2944 non-null object
PrecipTotal    2944 non-null object
StnPressure    2944 non-null object
SeaLevel       2944 non-null object
ResultSpeed    2944 non-null float64
ResultDir      2944 non-null int64
AvgSpeed       2944 non-null object
dtypes: float64(1), int64(5), object(16)
memory usage: 506.1+ KB

In [32]:
#basic stats of variables
weather.describe().T

              count       mean        std   min   25%   50%   75%    max
Station      2944.0   1.500000   0.500085   1.0   1.0   1.5   2.0    2.0
Tmax         2944.0  76.166101  11.461970  41.0  69.0  78.0  85.0  104.0
Tmin         2944.0  57.810462  10.381939  29.0  50.0  59.0  66.0   83.0
DewPoint     2944.0  53.457880  10.675181  22.0  46.0  54.0  62.0   75.0
ResultSpeed  2944.0   6.960666   3.587527   0.1   4.3   6.4   9.2   24.1
ResultDir    2944.0  17.494905  10.063609   1.0   7.0  19.0  25.0   36.0

In [33]:
#identifying correlated data
weather.corr()

              Station      Tmax      Tmin  DewPoint  ResultSpeed  ResultDir
Station      1.000000  0.016332  0.103995  0.007511    -0.007368  -0.016035
Tmax         0.016332  1.000000  0.859981  0.801733    -0.180596   0.029231
Tmin         0.103995  0.859981  1.000000  0.904358    -0.114755  -0.014283
DewPoint     0.007511  0.801733  0.904358  1.000000    -0.189207   0.003466
ResultSpeed -0.007368 -0.180596 -0.114755 -0.189207     1.000000   0.096192
ResultDir   -0.016035  0.029231 -0.014283  0.003466     0.096192   1.000000

In [34]:
weather['Water1'].value_counts()

M    2944
Name: Water1, dtype: int64

In [35]:
#dropping Water1 because it only has constant M for missing values
#dropping DewPoint because it is highly correlated with Tmin
weather.drop(['Water1', 'DewPoint'], axis=1, inplace=True)

In [36]:
#Converting Date column to date data type
weather['Date'] = pd.to_datetime(weather['Date'], infer_datetime_format=True)

In [37]:
weather['Station'].value_counts()

1    1472
2    1472
Name: Station, dtype: int64

In [38]:
#Checking for missing observation between station 1 and 2
print('Depart has ' + str(len(weather[(weather['Depart'].str.contains('\D')) & (weather.Station==1)])) + ' missing values at Station 1')
print('Depart has ' + str(len(weather[(weather['Depart'].str.contains('\D')) & (weather.Station==2)])) + ' missing values at Station 2')

print('Heat has ' + str(len(weather[(weather['Heat'].str.contains('\D')) & (weather.Station==1)])) + ' missing values at Station 1')
print('Heat has ' + str(len(weather[(weather['Heat'].str.contains('\D')) & (weather.Station==2)])) + ' missing values at Station 2')

print('Cool has ' + str(len(weather[(weather['Cool'].str.contains('\D')) & (weather.Station==1)])) + ' missing values at Station 1')
print('Cool has ' + str(len(weather[(weather['Cool'].str.contains('\D')) & (weather.Station==2)])) + ' missing values at Station 2')

print('Sunrise has ' + str(len(weather[(weather['Sunrise'].str.contains('\D')) & (weather.Station==1)])) + ' missing values at Station 1')
print('Sunrise has ' + str(len(weather[(weather['Sunrise'].str.contains('\D')) & (weather.Station==2)])) + ' missing values at Station 2')

print('Sunset has ' + str(len(weather[(weather['Sunset'].str.contains('\D')) & (weather.Station==1)])) + ' missing values at Station 1')
print('Sunset has ' + str(len(weather[(weather['Sunset'].str.contains('\D')) & (weather.Station==2)])) + ' missing values at Station 2')

print('Depth has ' + str(len(weather[(weather['Depth'].str.contains('\D')) & (weather.Station==1)])) + ' missing values at Station 1')
print('Depth has ' + str(len(weather[(weather['Depth'].str.contains('\D')) & (weather.Station==2)])) + ' missing values at Station 2')

print('SnowFall has ' + str(len(weather[(weather['SnowFall'].str.contains('\D')) & (weather.Station==1)])) + ' missing values at Station 1')
print('SnowFall has ' + str(len(weather[(weather['SnowFall'].str.contains('\D')) & (weather.Station==2)])) + ' missing values at Station 2')

Depart has 1271 missing values at Station 1
Depart has 1472 missing values at Station 2
Heat has 0 missing values at Station 1
Heat has 11 missing values at Station 2
Cool has 1096 missing values at Station 1
Cool has 1021 missing values at Station 2
Sunrise has 0 missing values at Station 1
Sunrise has 1472 missing values at Station 2
Sunset has 0 missing values at Station 1
Sunset has 1472 missing values at Station 2
Depth has 0 missing values at Station 1
Depth has 1472 missing values at Station 2
SnowFall has 1472 missing values at Station 1
SnowFall has 1472 missing values at Station 2

In [39]:
#the records show that station 2 has more missing values than station 1
#therefore we just keep records of station 1
weather = weather[weather.Station==1]
weather.Station.value_counts()

1    1472
Name: Station, dtype: int64

In [40]:
weather.shape

(1472, 20)

In [41]:
#dropping columns that have

In [42]:
weather['Depart'].value_counts()

 2     93
-1     84
-2     80
 5     77
 1     76
 7     76
 3     75
 0     74
-3     72
 4     71
 6     67
 8     59
-5     57
-4     56
-6     50
 9     47
10     46
-8     43
-7     30
11     28
12     28
-9     25
13     23
-10    22
14     22
15     15
16     12
-11    10
-12     8
17      7
-14     6
18      6
-13     5
19      4
20      4
22      3
-15     3
-16     3
-17     2
21      2
23      1
Name: Depart, dtype: int64

In [43]:
#dropping additional columns with several zeros or that conceptually
#do not aggregate value
weather.drop(['Depart', 'Heat','Cool','Sunrise','Sunset','Depth', 'SnowFall'], axis=1, inplace=True)
weather.dtypes

Station                 int64
Date           datetime64[ns]
Tmax                    int64
Tmin                    int64
Tavg                   object
WetBulb                object
CodeSum                object
PrecipTotal            object
StnPressure            object
SeaLevel               object
ResultSpeed           float64
ResultDir               int64
AvgSpeed               object
dtype: object

In [44]:
#Function for cleaning numeric features
# Several columns have a 'T' as a value
# It reffers to trace, which is defined as less than 0.005 
# 'M' indicates missing data, so we will give it a value of 0.0

def clean_num_col(column):
    weather[column] = weather[column].str.replace('T','0.005')
    weather[column] = weather[column].str.replace('M','0.0')
    weather[column] = weather[column].astype(float)

In [45]:
#Applying clean_num_col to several columns
clean_num_col('Tavg')
clean_num_col('PrecipTotal')
clean_num_col('WetBulb')
clean_num_col('StnPressure')
clean_num_col('SeaLevel')
clean_num_col('AvgSpeed')

In [46]:
# CodeSum records weather events through different types of letters
# To simplyfy calculations, we will give a value of 1 when an event is recorded
# We will give a 0 when no event is recorded
weather.CodeSum = weather.CodeSum.str.strip()
weather.CodeSum[weather.CodeSum.str.contains('^\w')] = '1'
weather.CodeSum[weather.CodeSum!='1'] = '0'
weather.CodeSum = weather.CodeSum.astype(float)

/Users/belensanchez/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/belensanchez/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [47]:
weather.dtypes

Station                 int64
Date           datetime64[ns]
Tmax                    int64
Tmin                    int64
Tavg                  float64
WetBulb               float64
CodeSum               float64
PrecipTotal           float64
StnPressure           float64
SeaLevel              float64
ResultSpeed           float64
ResultDir               int64
AvgSpeed              float64
dtype: object

In [48]:
weather.head()

,Station,Date,Tmax,Tmin,Tavg,WetBulb,CodeSum,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67.0,56.0,0.0,0.000,29.10,29.82,1.7,27,9.2
2,1,2007-05-02,59,42,51.0,47.0,1.0,0.000,29.38,30.09,13.0,4,13.4
4,1,2007-05-03,66,46,56.0,48.0,0.0,0.000,29.39,30.12,11.7,7,11.9
6,1,2007-05-04,66,49,58.0,50.0,1.0,0.005,29.31,30.05,10.4,8,10.8
8,1,2007-05-05,66,53,60.0,49.0,0.0,0.005,29.40,30.10,11.7,7,12.0

In [49]:
weather.tail()

,Station,Date,Tmax,Tmin,Tavg,WetBulb,CodeSum,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
2934,1,2014-10-27,77,51,64.0,58.0,0.0,0.000,28.92,29.66,12.0,19,12.9
2936,1,2014-10-28,68,45,57.0,47.0,0.0,0.005,29.15,29.85,14.8,26,15.6
2938,1,2014-10-29,49,36,43.0,40.0,0.0,0.000,29.36,30.06,9.5,29,9.9
2940,1,2014-10-30,51,32,42.0,40.0,0.0,0.000,29.34,30.09,5.1,24,5.5
2942,1,2014-10-31,47,33,40.0,33.0,1.0,0.030,29.49,30.20,22.6,34,22.9

In [50]:
weather.set_index('Date', inplace=True)
weather.head()

,Station,Tmax,Tmin,Tavg,WetBulb,CodeSum,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
Date,,,,,,,,,,,,
2007-05-01,1,83,50,67.0,56.0,0.0,0.000,29.10,29.82,1.7,27,9.2
2007-05-02,1,59,42,51.0,47.0,1.0,0.000,29.38,30.09,13.0,4,13.4
2007-05-03,1,66,46,56.0,48.0,0.0,0.000,29.39,30.12,11.7,7,11.9
2007-05-04,1,66,49,58.0,50.0,1.0,0.005,29.31,30.05,10.4,8,10.8
2007-05-05,1,66,53,60.0,49.0,0.0,0.005,29.40,30.10,11.7,7,12.0

In [51]:
weather_11_13 = weather['2011':'2013']
weather_11_13

,Station,Tmax,Tmin,Tavg,WetBulb,CodeSum,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
Date,,,,,,,,,,,,
2011-05-01,1,63,47,55.0,47.0,0.0,0.000,29.26,29.95,11.4,26,11.9
2011-05-02,1,59,42,51.0,42.0,0.0,0.000,29.46,30.17,5.3,36,9.9
2011-05-03,1,50,37,44.0,38.0,1.0,0.005,29.50,30.23,6.7,3,7.6
2011-05-04,1,59,37,48.0,40.0,0.0,0.000,29.63,30.37,4.6,3,7.6
2011-05-05,1,63,35,49.0,46.0,1.0,0.060,29.33,30.12,10.9,20,11.5
2011-05-06,1,68,44,56.0,48.0,1.0,0.005,29.11,29.87,6.8,28,7.8
2011-05-07,1,60,43,52.0,48.0,0.0,0.005,29.13,29.85,5.1,5,6.9
2011-05-08,1,68,39,54.0,49.0,0.0,0.000,29.27,29.98,6.6,6,7.2
2011-05-09,1,73,47,60.0,53.0,1.0,0.005,29.15,29.89,14.3,11,14.7
2011-05-10,1,90,62,76.0,66.0,0.0,0.000,29.00,29.72,6.2,14,8.6
2011-05-11,1,87,63,75.0,68.0,1.0,0.130,29.10,29.80,3.5,14,6.6
2011-05-12,1,86,58,72.0,66.0,1.0,0.290,29.08,29.79,5.6,19,8.1
2011-05-13,1,77,47,62.0,56.0,1.0,0.020,29.00,29.73,10.1,3,11.0
2011-05-14,1,53,45,49.0,48.0,1.0,0.310,29.01,29.73,16.7,2,16.9
2011-05-15,1,46,41,44.0,41.0,1.0,0.310,29.15,29.86,21.4,2,21.4
2011-05-16,1,52,37,45.0,40.0,0.0,0.000,29.28,30.01,13.5,2,13.9
2011-05-17,1,60,40,50.0,43.0,0.0,0.000,29.21,29.96,12.2,3,12.7
2011-05-18,1,57,49,53.0,49.0,1.0,0.070,29.16,29.89,6.2,2,7.1
2011-05-19,1,72,49,61.0,56.0,1.0,0.000,29.29,30.00,3.6,2,5.8
2011-05-20,1,73,50,62.0,57.0,1.0,0.000,29.30,30.03,5.5,6,6.0
2011-05-21,1,75,50,63.0,62.0,1.0,0.010,29.13,29.87,7.0,15,8.1
2011-05-22,1,87,61,74.0,64.0,1.0,0.580,28.95,29.70,10.3,19,11.4
2011-05-23,1,79,60,70.0,64.0,0.0,0.005,28.92,29.62,10.0,25,11.3
2011-05-24,1,66,47,57.0,51.0,0.0,0.110,29.15,29.86,12.0,4,12.4
2011-05-25,1,67,47,57.0,53.0,1.0,2.240,28.92,29.67,10.7,3,11.7
2011-05-26,1,49,43,46.0,43.0,1.0,1.060,29.15,29.84,17.7,2,17.8
2011-05-27,1,58,40,49.0,46.0,1.0,0.005,29.21,29.93,7.3,5,8.7
2011-05-28,1,62,51,57.0,55.0,1.0,0.120,29.10,29.83,6.0,18,6.7
2011-05-29,1,70,52,61.0,60.0,1.0,1.880,29.16,29.86,3.6,11,5.7
2011-05-30,1,88,56,72.0,69.0,0.0,0.000,29.26,29.97,12.4,20,12.8
...,...,...,...,...,...,...,...,...,...,...,...,...
2013-10-02,1,76,62,69.0,59.0,1.0,0.000,29.31,30.02,4.7,7,6.4
2013-10-03,1,78,60,69.0,67.0,1.0,0.120,29.19,29.91,7.4,19,7.9
2013-10-04,1,74,65,70.0,66.0,1.0,0.005,29.23,29.94,2.6,12,6.2
2013-10-05,1,80,61,71.0,68.0,1.0,0.820,29.11,29.84,5.2,19,6.4
2013-10-06,1,64,45,55.0,49.0,1.0,0.090,29.02,29.75,8.7,25,9.5
2013-10-07,1,68,45,57.0,50.0,0.0,0.005,29.23,29.92,6.1,28,9.0
2013-10-08,1,75,43,59.0,53.0,0.0,0.000,29.42,30.13,4.7,18,5.6
2013-10-09,1,71,48,60.0,53.0,0.0,0.000,29.45,30.18,3.6,12,4.6
2013-10-10,1,74,46,60.0,55.0,1.0,0.000,29.37,30.11,2.9,13,3.9
2013-10-11,1,76,51,64.0,56.0,0.0,0.000,29.28,30.02,7.3,14,7.7
2013-10-12,1,73,46,60.0,57.0,1.0,0.120,29.32,30.02,5.7,21,7.4
2013-10-13,1,64,44,54.0,48.0,0.0,0.000,29.62,30.32,5.3,32,6.6
2013-10-14,1,62,42,52.0,49.0,0.0,0.000,29.53,30.29,6.6,8,8.4
2013-10-15,1,64,49,57.0,54.0,1.0,0.070,29.14,29.91,7.6,19,10.6
2013-10-16,1,54,47,51.0,48.0,1.0,0.005,29.16,29.89,10.5,25,10.8
2013-10-17,1,53,40,47.0,46.0,1.0,0.290,29.12,29.86,6.1,26,6.9
2013-10-18,1,50,39,45.0,43.0,0.0,0.000,29.18,29.91,8.3,26,8.7
2013-10-19,1,54,42,48.0,42.0,1.0,0.010,29.10,29.83,8.9,25,9.2
2013-10-20,1,61,36,49.0,46.0,1.0,0.010,29.07,29.80,5.1,20,6.1
2013-10-21,1,55,33,44.0,38.0,0.0,0.005,29.19,29.90,10.8,27,11.5
2013-10-22,1,42,29,36.0,34.0,1.0,0.005,29.21,29.95,5.4,26,6.1
2013-10-23,1,46,32,39.0,34.0,0.0,0.005,29.24,29.98,9.2,30,10.0
2013-10-24,1,44,31,38.0,33.0,0.0,0.005,29.45,30.16,10.3,30,10.9
2013-10-25,1,51,29,40.0,35.0,0.0,0.000,29.47,30.24,10.8,24,11.7
2013-10-26,1,55,37,46.0,39.0,0.0,0.000,29.22,29.96,10.9,27,14.2
2013-10-27,1,54,29,42.0,37.0,0.0,0.000,29.28,30.02,6.3,23,6.6
2013-10-28,1,53,35,44.0,41.0,0.0,0.000,29.54,30.26,9.0,4,9.4
2013-10-29,1,57,42,50.0,45.0,0.0,0.005,29.49,30.25,6.1,10,7.5
2013-10-30,1,63,43,53.0,53.0,1.0,0.550,29.22,30.00,6.6,15,7.5
2013-10-31,1,64,46,55.0,57.0,1.0,1.040,28.69,29.45,9.4,24,11.5

In [52]:
weather_11_13.shape

(552, 12)